{%extends 'base.html'%}
{% block content %}

<div style="background:url('https://cdn.pixabay.com/photo/2016/11/29/09/24/swan-1868697_960_720.jpg'); height: 70vh; background-size: cover; background-position: center;"> 

    <div id="intro">
      
        <div class="mask rgba-black-strong" style="height: 70vh;">
  
            <div class="container-fluid d-flex align-items-center justify-content-center h-50">
  
                <div class="row d-flex justify-content-center text-center">
  
                    <div class="col-lg-12 pt-5 mt-5">
  
                        
                        <h3 class="display-4 font-weight-bold white-text pt-5">Awards!</h3>
  
                        
                        <hr class="hr-light">
                        <p class="font-weight-bold white-text" style="font-size: 30px;">Welcome to Awards website! A platform where you get to submit your projects for others to see, learn from and rate them!</p>
                       
                    </div>
  
                </div>
  
            </div>
  
        </div>
  
    </div>
  
  
  </div>
  <div class="pt-4 mt-4"></div>

  <div class="container-fluid">
    <div class="mb-2 pb-2 pl-4 pr-2 ml-4 mr-1">
        <h4 class="display-6 font-weight-bold" style="font-size:40px;"> Sites of the day </h4>
    </div> 

    <div class="row pl-2 pr-2 ml-1 mr-1"> 
        {% for items in projects %}
        <div class="col-lg-4">
            <div class="card-deck">
                <div class="card mb-2 mt-2">
                    <!-- Card image -->
                    <div class="view overlay zoom">
                        {% if items.image %}
                        <a href="/project/{{items.id}}">
                            <img class="card-img-top" src="{{items.image.url}}" alt="{{ items.title }}" height="300px">
                        </a>
                        {% else %}
                        <a href="/project/{{items.id}}">
                        <img  class="card-img-top" src="https://source.unsplash.com/1600x900/?fun,vacation" alt="{{ items.title }}">
                        </a>
                        {% endif %}
                        <a href="/project/{{items.id}}">
                            <div class="mask rgba-black-light">
                    </div>
                </a>
                </div> 
                <div class="card-body pr-2 pl-2 pr-2 mr-2">
                    <h5 class="card-title ml-4">{{ items.title }}</h5>
                    <div class="row ml-2">
                        <div class="col-lg-6 dark-text d-flex justify-content-end"> <small> {{items.pub_date|date:"d /m/Y"}} </small> </div> 
            </div>
        </div>
        <div class="card-footer">
            <small class="text-muted ml-2"><img src="{{ items.Author.profile.prof_pic.url }}" alt="" class="rounded-circle img-fluid mr-1" style="width: 30px;">
            BY {{items.Author.first_name|upper}} </small>
    </div>
</div>                
</div>
</div>
{% endfor %}
</div>
</div>
{% endblock %}